<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
      <ion-app>
        <ion-content fullscreen class="ion-padding" scroll-y="false">
          <ion-slides>
            <ion-slide>
              <img src="assets/img/slide-1.png"/>
              <h2>Bienvenido</h2>
              <ion-select placeholder="Seleccione Tipo de Acceso">
                <ion-select-option value="P">Profesores</ion-select-option>
                <ion-select-option value="A">Alumnos</ion-select-option>
              </ion-select>              
              <h3>Presione el botón <b>Iniciar</b> para ingresar al sistema</h3>
              <ion-button routerLink="/login" routerDirection="forward" fill="clear">Iniciar Profesores<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
              <ion-button routerLink="/login-alumnos" routerDirection="forward" fill="clear">Iniciar Alumnos<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
            </ion-slide>
    
          </ion-slides>
        </ion-content>
      </ion-app>
</ion-content>
